<div class="flip-card-container" style="--hue: 220">
  <div class="flip-card">
    <div class="card-front">
      <figure>
        <div class="img-bg"></div>
        <img id="foto_palestrante">
        <h2>Elon Musk</h2>
        <h3>CEO da Tesla E SpaceX</h3>
      </figure>

      <figure id="titulo_palestra">
        <h1>Criação de Empresas do zero</h1>
        <div id="containnerDataHora">
          <i class="material-symbols-outlined"> date_range </i>
          <legend id="legendaDataHora">22/06 - 13:30</legend>
        </div>
      </figure>
      
    </div>

    <div class="card-back">
      <figure>
        <div class="img-bg"></div>
        
        <h2>Elon Musk</h2>
        
        <div id="redes_sociais">
          <a href="#"><i class="fa-brands fa-instagram"></i></a>
          <a href="#"><i class="fa-brands fa-linkedin"></i></a>
        </div>
        
        <p id="descricaoPalestra">Saiba como criar sua própria empresa do zero sem precisar de experiêcia,como atrair insvestidores,como pesquisar o que o mercado exige,qual produto as pessoas nescessitam.</p>
        <p id="sala">Sala 305 - 3°Andar</p>
      </figure>

      <a id="inscricao" href="#">Inscreva-se</a>

      <div class="design-container">
        <span class="design design--1"></span>
        <span class="design design--2"></span>
        <span class="design design--3"></span>
        <span class="design design--4"></span>
        <span class="design design--5"></span>
        <span class="design design--6"></span>
        <span class="design design--7"></span>
        <span class="design design--8"></span>
      </div>
    </div>

  </div>
</div>