<div class="flip-card-container" style="--hue: 220">
  <div class="flip-card">
    <div class="card-front">
      <figure>
        <div class="img-bg"></div>
        <img id="foto_palestrante">
        <h2>Elon Musk<br><span id="cargo_palestrante">CEO da Tesla E SpaceX</span></h2>
        
      </figure>
      <div id="titulo_palestra">
          <h1 id="nome_palestrante">Criação de Empresas do zero</h1>
          <i class="fa fa-calendar-days"><span id="icons_card_front">22/6 - 15:30</span></i>
      </div>
      
    </div>

    <div class="card-back">
      <figure>
        <div class="img-bg"></div>
        <div id="nome_palestrante_pttras"><span>Elon Musk</span></div>
        <div id="redes_sociais">
          <a href="#"><i class="fa-brands fa-instagram"></i></a>
          <a href="#"><i class="fa-brands fa-linkedin"></i></a>
        </div>
        <div id="introducao_cima">
          <span id="introducao_palestra_cima">Saiba como criar sua própria empresa do zero sem precisar de experiêcia,como atrair insvestidores,como pesquisar o que o mercado exige,qual produto as pessoas nescessitam.</span>
        </div>

        <div id="sala_palestra">
          <p id="sala">Sala 305 - 3°Andar</p>
        </div>

      </figure>

      <a id="inscricao" href="#">Inscreva-se</a>

      <div class="design-container">
        <span class="design design--1"></span>
        <span class="design design--2"></span>
        <span class="design design--3"></span>
        <span class="design design--4"></span>
        <span class="design design--5"></span>
        <span class="design design--6"></span>
        <span class="design design--7"></span>
        <span class="design design--8"></span>
      </div>
    </div>

  </div>
</div>