#header {
  display: flex;
  position: fixed;
  justify-content: flex-end;
  align-items: center;
  padding-left: 8%;
  padding-right: 8%;
  width: 100%;
  z-index: 10;
  height: 4%;

  /* From https://css.glass */
  background: rgba(255, 255, 255, 0);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.2px);
  -webkit-backdrop-filter: blur(5.2px);
  border-bottom : 1px solid rgba(255, 255, 255, 0.07);
}
#header button {
  background-color: transparent;
  border: none;
  color: var(--orange);
  font-size: 1.1rem;
  position: relative;
}
#header button::after {
  content: '';
  position: absolute;
  bottom: -3px;
  width: 0px;
  height: 2px;
  background-color: var(--main-bg-color);
  left: 0;
  right: 0;
  margin: auto;
  transition: width .15s linear;
}
#header button:hover {
  cursor: pointer;
}
#header button:hover::after {
  width: 100%;
}
#header .navigationBar {
  display: flex;
  gap: 50px;
  justify-content: flex-end;
}
.menu{
  width: 400px;
  display: flex;
  justify-content: space-between;
}
.iconeMenu {
  display: none;
  color: var(--orange);
}
/* Menu (CIMA) */




/* Menu responsivo (BAIXO) */
.iconeMenu{
  width: 30px;
  height: 30px;
}

@media (max-width: 940px){
  .iconeMenu {
    display: flex;
  }

  .menu{
    display: none;
  }

  #header > nav{
    display: flex;
    justify-content: space-around;
  }

  #header button{
    width: fit-content;
    height: fit-content;
    flex-direction: column;
    padding: 10px 0 10px 10px;
    float: right;
    text-align: right;
  }

  #label-menu{
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    color: var(--white);
  }

  #toggler:checked ~ .menu{
    overflow: visible;
    max-height: 100%;
  }
}
/* Menu responsivo */
