#header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding-left: 8%;
  padding-right: 8%;
  background-color: var(--main-bg-color);
  height: 60px;
}

#header button {
  background-color: transparent;
  border: none;
  color: var(--white);
  font-size: 1.1rem;
  position: relative;
}
#header button::after {
  content: '';
  position: absolute;
  bottom: -3px;
  width: 0px;
  height: 2px;
  background-color: var(--orange);
  left: 0;
  right: 0;
  margin: auto;
  transition: width .15s linear;
}
#header button:hover {
  cursor: pointer;
}
#header button:hover::after {
  width: 100%;
}
#header .navigationBar {
  display: flex;
  gap: 50px;
  width: 95vw;
  justify-content: space-between;
}

.menu{
  width: 400px;
  display: flex;
  justify-content: space-between;
}

#some {
  visibility: hidden;
}

#toggler, label{
  display: none;
}

@media screen and (max-width: 940px){
  #header{
    padding: 16px 16px;
  }

  .menu{
    width: 100%;
    max-height: 0;
    overflow: hidden;
  }

  .navigationBar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
  }

  #header button{
    width: fit-content;
    height: fit-content;
    flex-direction: column;
    padding: 10px 0 10px 10px;
    float: right;
    text-align: right;
  }

  #label-menu{
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    color: var(--white);
  }

  #toggler:checked ~ .menu{
    overflow: visible;
    max-height: 100%;
  }
