#seguraWave {
  background-color: red;
  width: inherit;
  position: relative;
}
#seguraWave {
  position: relative;
}
#waves {
  position: absolute;
  top: -140px;
  width: 100%;
}



.setinhaContainner{
  position: absolute;
  top: 0;
  bottom: 150px;
  margin: auto 0;
  right: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.linhaCima{
  height: 80px;
  border: 1px solid var(--white);
  border-radius: 2px;
  background-color: var(--white);
  margin-bottom: 5px;
  display: block;
}
#setinha{
  color: var(--white);
  animation: scrolldown 3s linear infinite .5s;
}

@keyframes scrolldown {
  0%, 100%{
      transform: translateY(20%);
  }
  50%{
      transform: translateY(0%);
  }
}

#texto {
  display: flex;
  height: 600px;
  width: 90%;
  margin: auto;
  margin-top: 10%;
  justify-content: space-evenly;
  border-bottom: 3px solid var(--main-bg-color);
}
#containnerTexto {
  width: 40%;
}
#containnerTexto > h2 {
  color: var(--main-bg-color);
  font-size: 34px;
  margin-bottom: 50px;
  margin-top: 13%;
}
#containnerTexto > p {
  text-align: justify;
  font-size: 20px;
}
#containnerLetrasSVG {
  width: 30%;
  height: inherit;
  position: relative;
}
.letraSVG {
  position: absolute;
  transition: left 1s linear, opacity 1s linear;
}
#H {
  top: 10px;
  left: 250px;
}
#X {
  left: 0;
  right: 40%;
  margin: auto;
  bottom: 0;
  top: 0;
  opacity: 0;
}
#D {
  bottom: 30px;
  right: -250px;
}