<div id="campoDo3D">

</div>

<div class="text">
  <div class="textImpact">
    <h2>SENAC HUB ACADEMY EXPERIENCE DAY&#160;</h2>
    <div>
      <h2>PARA NOVAS&#160;</h2>
      <h2 id="textBlue">EXPÊRIENCIAS&#160;</h2>
      <h2>E VERDADEIRA&#160;</h2>
      <h2 id="textBlue">INOVAÇÃO</h2>
      <h2>!</h2>
    </div>
  </div>

  <div class="textDatePlace">
    <h3>1° EDIÇÃO EXPERIENCE DAY!</h3>
    <div class="textDisplayRow">
      <h4 id="textBlue">22&#160;</h4>
      <h5>DE&#160;</h5>
      <h4 id="textBlue">JUNHO&#160;</h4>
      <h5>DE&#160;</h5>
      <h4 id="textBlue">2022</h4>
    </div>
    <h6>R. DO PARQUE N°75 - CAMPO GRANDE, MS</h6>
  </div>
</div>
